# Blockchain Network (Polygon Amoy Testnet)
VITE_POLYGON_AMOY_RPC_URL=https://rpc-amoy.polygon.technology
VITE_CERT_REGISTRY_ADDRESS=
VITE_CERT_SBT_ADDRESS=

# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Pinata IPFS
VITE_PINATA_API_KEY=
VITE_PINATA_SECRET_API_KEY=

# Gemini API (For PDF Verification)
VITE_GEMINI_API_KEY=

# Gemini API (For PDF Verification)
VITE_GEMINI_API_KEY=

# Backend Auth & DB Admin (DO NOT EXPOSE TO VITE)
JWT_SECRET=
SUPABASE_SERVICE_ROLE_KEY=
